


.user-icon{
    width: 30px;
    border-radius: 100%;
}
:root{
    --ofcanvas-width:270px
    --topNavbarHight:56px
}
.sidebar-nav{
    width: var(--ofcanvas-width) !important;

}
@media(min-width:992px){
    .offcanvas-backdrop{
        display: none !important;
    }
    .sidebar-nav{
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHight) !important;
    }
}